# Обязательные для конфигурирования настройки при запуске.
# Хост приложения.
HOST=0.0.0.0
# Порт приложения.
PORT=1234

# Директория, для хранения файлов сервиса задач
FILES_PATH_VOLUME=~/volumes/ws_chat/files_data
# Директория, для инфы бд
POSTGRES_DATA_VOLUME=~/volumes/ws_chat/postgres_data

MAX_WORKERS=0

SECRET=

# ============================
# =====     Database    ======
# ============================
DB_HOST=host.docker.internal
DB_PORT=5440
DB_NAME=local
DB_USER=local
DB_PASSWORD=local

# ============================
# ===     App Settings    ====
# ============================
TOKEN_ALIVE_HOURS=1
REFRESH_TOKEN_ALIVE_HOURS=1
